.navbar {
    display: flex;
    box-shadow: rgba(0, 0, 0, .15) 0px -2px 10 0px;
    justify-content: space-between;
    align-items: center;
    padding: .5em 2em;
}

.brand {
    font-size: 2.2em;
}

.brand span {
    font-weight: 900;
    text-transform: uppercase;
}

.links_list {
    display: flex;
    list-style: none;
}

.links_list li a {
    padding: .6em .8em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.active {
    /* background-color: black; */
    color: #ffff;
    border-radius: 5px;
    background: rgb(167,5,215);
    background: linear-gradient(90deg, rgba(167,5,215,1) 0%, rgba(255,0,249,1) 55%, rgba(255,0,249,0.48783263305322133) 100%);
}